body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000000 ;
    width: 340px;
    border-radius: 1rem; /* 1rem = 16px */
    margin-right: 0.5rem;
}

.nav {
    height: 150px;
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}

.nav-logo {
    padding: 1rem 0.75rem;
}

.nav-logo img {
    height: 2.5rem;
}

.nav-logo a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25 rem;
}

.nav-option a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    height: 100%;
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.5rem 1rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge {
    height: 2rem;
    width: fit-content;
    background-color: #ffffff;
    border: none;
    border-radius: 6.25rem;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.dark-badge {
    color: #ffffff;
    background-color: #000000;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons {
    margin-left: 0.75rem;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 1rem;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.album-card-container {
    display: flex;
    flex-wrap: wrap;
}

.album-card {
    background-color: #232323;
    width: 9.3rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.album-image {
    width: 100%;
    border-radius: 0.5rem;
}

.album-title {
    font-weight: 600;
}

.album-info {
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer {
    height: 18.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 50%;
    width: 90%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-track {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.song-track-image {
    height: 3rem;
}

.song-track-info {
    margin-left: 0.25rem;
    margin-right: 3rem;
    line-height: 0.25rem;
}

.song-track-info h4 {
    font-weight: 600;
}

.song-track-info p {
    font-size: 0.85rem;
    opacity: 0.8;
}

.song-track-icons {
    display: flex;
}

.song-track-icon {
    height: 1.75rem;
    margin-right: 0.75rem;
    opacity: 0.7;
}

.song-track-icon:hover {
    opacity: 1;
}

.player {
    width: 50%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #dddddd;
    border-radius: 6.25rem;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd730;
    border-radius: 50%;
    margin-top: -0.375rem;
}

.controls {
    width: 25%;
}

.control-icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.control-icon {
    height: 1.25rem;
    margin-right: 1rem;
    opacity: 0.7;
}

.control-icon:hover {
    opacity: 1;
}

.volume-bar {
    width: 5rem;
    height: 0.2rem;
    appearance: none;
    background-color: #dddddd;
    border-radius: 0.12rem;
    margin-top: 0.75rem;
    cursor: pointer;
}

.volume-bar::-webkit-slider-thumb {
    appearance: none;
    height: 0.75rem;
    width: 0.75rem;
    background-color: #dddddd;
    border-radius: 50%;
}