/* CSS Grid 
It is basically Grid Box Layout, a two-dimensinal layout method for arranging items in rows and columns.

1. display: grid;
  Setting a container's display to grid will make all children grid items.

2. Grid Template defines the lines and track sizing.
  grid-template-rows: 100px 100px 100px; (for creating 3 rows of height 100px)
  grid-template-columns: 100px 100px 100px; (for creating 3 columns of width 100px)

3. Repeat Function in Grid Template is used to divide all available space.
  grid-template-rows: repeat(count, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;

4. Grid Gaps define the gap between the lines 
  row-gap: 10px;
  column-gap: 10px;
  grid-gap: rowGap columnGap;

5. Grid Columns defines an item's starting & ending position inside the column.
  grid-column-start: line_number;
  grid-column-end: line_number;
  grid-column: start_col/end_col; (cell covers area from line 1 to line 4)
  grid-column: start_col/ span number; (cell defined by start line 1 and number of cells to be covered e.g. 1/ span 3)

6. Grid Rows defines an item's starting & ending position inside the row.
  grid-row-start: line_number;
  grid-row-end: line_number;
  grid-row: start_row/end_row; (cell covers area from line 1 to line 4)
  grid-row: start_row/ span number; (cell defined by start line 1 and number of cells to be covered e.g. 1/ span 3)

7. Common Properties
  (a) Horizontal Align : justify-items (container)  justify-self(item)
  (b) Vertical Align: align-items (container)  align-self(item)
  (c) If we want to assign properties collectively: place-items (container)  place-self (item)
*/
h1 {
  background-color: navy;
  color: deepskyblue;
  border: 5px solid deepskyblue;
  border-radius: 30px;
  text-align: center;
  font-family: Space Mono;
  font-size: xx-large;
  font-weight: bolder;
}
#container {
    height: 400px;
    width: 800px;
    padding: 20px;
    background-color: lightpink;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
}

.item {
   background-color: deeppink; 
   color: white;
   border: 4px solid black;
   border-radius: 20px;
   text-align: center;
   font-family: Space Mono;
   font-size: xx-large;
   font-weight: bold;
}

#course {
  grid-row-start: 2;
  grid-row-end: 5;
}

#title {
  grid-column-start: 1;
  grid-column-end: 5;
}