/*Practice Question on Color & Background-color*/

h2 {
    color: orange;
}

button {
    background-color: dodgerblue;
    color: white;
}

p {
    background-color: black;
    color: white;
}