/* Text Properties:
(1) text-align sets the horizontal alignment of the inline-level content inside a block element or table-cell box.
(2) font-weight sets the weight (or boldness) of the font.
(3) text-decoration sets the appearance of decorative lines on text. 
(4) line-height sets the height of a line box in horizontal writing modes.
(5) letter-spacing sets the horizontal spacing between text characters.
(6) font-family specifies a prioritized list of one or more font family names and/or generic family names for the selected element.
*/
h1 {
    text-align: center;
    font-weight: bolder;
    text-decoration: yellowgreen dashed underline;
    letter-spacing: 3px;
    font-family: Space Mono, sans-serif;
}

h2 {
    text-align: left;
    text-decoration: dodgerblue wavy underline;
    font-family: Space Mono, sans-serif;
}

h3{
    text-align: right;
    font-weight: lighter;
    text-decoration: orange dotted underline;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}